.search {
  display: block;
  height: 10vh;
}

.searchbar__container {
  z-index: 1000;
}

.searchbar {
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  color: #ff8c00;
  background-color: rgb(40, 40, 40);
  width: 25vw;
  height: 4.5vh;
  box-shadow: none;
  border: 1px solid rgb(80, 80, 80);
  font-size: 15pt;
  margin-top: 1vh;
}

.search__results {
  display: block;
  /* min-height: 50vh; */
  max-height: 50vh;
  overflow-y: auto;
}

.artistlink,
.songlink {
  display: flex;
  justify-content: space-between;
  color: #ff8c00;
  font-size: 15pt;
  text-decoration: none;
  background-color: rgb(20, 20, 20);
  border-bottom: 1px solid rgb(80, 80, 80);
  border-radius: 3px;
}

.artistlink__name,
.songlink__name {
  margin-left: 1vw;
}

.songlink__artistname {
  font-size: 10pt;
}

.searchbar__type {
  color: rgb(150, 150, 150);
  margin-right: 1vw;
  font-size: 10pt;
  margin-top: 1vh;
}

.searchbar__artistname {
  display: flex;
  color: rgb(150, 150, 150);
  margin-right: 1vw;
  font-size: 11pt;
  margin-top: 1vh;
  justify-content: flex-start;
}

.mag__glass {
  width: 20vw;
}

.searchbar__container ::placeholder {
  margin-left: 2vw;
  color: white;
}
