/* TODO Add site wide styles
html {
    background: url('./images/truckart.jpeg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
} */

/* @import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@300&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Titillium+Web:wght@200&display=swap");
* {
  margin: 0;
  font-family: "Titillium Web", sans-serif;
}
