.signup-title-container {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  font-size: 21pt;
  font-weight: 900;
  align-items: center;
  justify-content: center;
}

.signup__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.lastname-input,
.firstname-input,
.s-email-input,
.password-input {
  margin-top: 1px;
  height: 30px;
  width: 275px;
  font-size: 14pt;
  color: rgb(109, 107, 107);
  background: rgb(250, 247, 254);
  border-radius: 0.15em;
  border: 1px solid rgb(158, 150, 165);
}

.signup-title-b {
  font-size: 15pt;
  margin-top: 10px;
}

.firstname-input {
  margin-bottom: 3px;
}

.real-signup-title2 {
  margin-top: -8px;
  margin-bottom: -5px;
}

.signup-button {
  margin-top: 22px;
  height: 40px;
  width: 90px;
  background-color: #f08400;
  border: 2px solid #f08400;
  border-radius: 0.25em;
  color: black;
  font-size: 15pt;
  opacity: 1;
}
