.container {
  display: flex;
  background-color: gray;
  color: white;
}

.container__left {
  flex: 23%;
  background-color: darkgray;
}

.container__right {
  flex: 77%;
}

.artist__info {
  display: flex;
  flex-direction: wrap;
  width: 100%;
}

.single__artist {
  display: flex;
  flex-direction: column;
  margin: 40px 25px;
  /* padding-bottom: 10px; */
}

img {
  height: 140px;
  width: 140px;
}

.artist__header {
  padding-top: 15px;
  padding-left: 20px;
  font-size: 22pt;
}

.content__header {
  padding-top: 15px;
  padding-left: 20px;
  font-size: 22pt;
}
