.artist__info {
  display: flex;
  width: 88%;
  justify-content: center;
  margin: 0 auto;
}

.single__artist {
  display: flex;
  flex-direction: column;
  margin: 20px 12px;
  text-decoration: none;
  align-items: center;
  width: 150px;
}

.single_img {
  border-radius: 70px;
  height: 140px;
  width: 140px;
}

.artistname {
  text-decoration: none;
  color: white;
  font-size: 15pt;
  margin-top: 12px;
}

.carousel {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.slider__left {
  height: 150px;
  background-color: Transparent;
  background-repeat: no-repeat;
  color: #ff8c00;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

.slider__right {
  height: 150px;
  background-color: Transparent;
  background-repeat: no-repeat;
  color: #ff8c00;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}
