.artists_container__left {
  /* padding-right: 10px; */
  background-color: rgb(35, 35, 35);

  /* display: flex; */
}

.single_artist__container {
  width: 100%;
  background-color: black;
}

.banner__img {
  background-color: black;
  width: 100%;
  height: 180px;
  size: contain;
}
