.song__container {
  background-color: rgb(35, 35, 35);
  margin-right: 10px;
  margin-left: 10px;
}

.single__song {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: baseline;
  justify-content: space-between;
  color: white;
  font-size: 14pt;
}
.hr {
  display: flex;
  justify-content: center;
}

.hr hr {
  height: 1px;
  border: none;
  background-color: #bd6801;
  width: 97%;
}

.name,
.artist,
.length,
.id {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 150px;
  text-align: center;
}

.name,
.artist {
  margin-right: 120px;
}

.length {
  justify-content: end;
}

.navbar__song {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  justify-content: space-between;
  color: white;
  font-size: 18pt;
  padding-bottom: 9px;
  color: #ff8c00;
}

.song_id {
  margin-left: 70px;
  margin-right: -18px;
}

.song_artist {
  margin-left: 90px;
  margin-right: 7px;
}
