.song__container {
  background-color: rgb(35, 35, 35);
  height: 600px;
  overflow: scroll;
}

.navbar__song {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  justify-content: space-between;
  color: white;
  font-size: 18pt;
  padding-bottom: 9px;
  color: #ff8c00;
  margin-left: 68px;
}

.hover_div :hover {
  background-color: rgb(185, 103, 2);
  color: black;
  font-weight: 900;
  height: 7vh;
}

.single__song {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: white;
  font-size: 14pt;
  cursor: pointer;
  height: 6vh;
}
.single__song :hover {
  top: 5vh;
  bottom: 5vh;
}

.hr {
  display: flex;
  justify-content: center;
}

.hr hr {
  height: 1px;
  border: none;
  background-color: #bd6801;
  width: 97%;
}

.duration {
  padding-right: 8px;
}

.name {
  width: 210px;
  text-align: center;
}

.artist,
.length,
.id {
  width: 150px;
  text-align: center;
}

.name,
.artist {
  margin-right: 120px;
}

.song_id {
  margin-right: 8px;
}

.song_artist {
  margin-left: 105px;
}

.name :hover,
.artist :hover,
.duration :hover,
.id :hover {
  align-items: center;
  margin-top: 5vh;
}

.single__song :hover {
  height: 55%;
  /* height: 3.7vh; */
}
