.player__container {
  display: flex;
  background-color: rgb(40, 40, 40);
  flex-direction: column;
  color: #ff8c00;
  height: 130px;
  border-top: 1px solid white;
}

.controls {
  width: 100%;
  text-align: center;
}

.volume__controls {
  padding-top: 10px;
  padding-right: 15px;
  float: right;
  width: 100px;
}

.buttons {
  display: inline-block;
  margin: 0 auto;
  width: 160px;
  margin-left: 140px;
  margin-top: 10px;
}

.song__info {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
  color: #ff8c00;
}

.song__name {
  font-size: 20pt;
}

.artist__name {
  font-size: 16pt;
}

.volume__controls {
  display: flex;
  -webkit-appearance: none;
  width: 130px;
  margin: auto;
}

.time {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 0 auto;
}

.time__number {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.volume__slider {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 100%;
  background: transparent; /* Otherwise white in Chrome */
}
.time__slider {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 100%; /* Specific width is required for Firefox. */
  background: transparent; /* Otherwise white in Chrome */
}

.time__slider::-webkit-slider-thumb,
.volume__slider::-webkit-slider-thumb {
  -webkit-appearance: none;
}

.time__slider:focus,
.volume__slider:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

.time__slider::-webkit-slider-thumb,
.volume__slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #000000;
  height: 25px;
  width: 20px;
  border-radius: 10px;
  opacity: 0.8;
  background: #ffffff;
  cursor: pointer;
  margin-top: -6px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; /* Add cool effects to your sliders! */
}

.time__slider::-webkit-slider-runnable-track,
.volume__slider::-webkit-slider-runnable-track {
  width: 60%;
  height: 10px;
  cursor: pointer;
  /* box-shadow: 1px 1px 1px white, 0px 0px 1px white; */
  background: #ff8c00;
  border-radius: 1.3px;
  /* border: 0.2px solid #010101; */
}
