.artistpage__container {
  background-color: black;
}

.artistpage__header {
  display: flex;
  flex-direction: row;
  /* width: 100%; */
  padding: 45px 60px 30px 60px;
}

.artistpage__banner {
  display: flex;
  width: 70%;
  height: 400px;
  justify-content: center;
  margin: 0 auto;
}

.artistpage__name_bio {
  display: flex;
  flex-direction: column;
  color: white;
  width: 50%;
  padding-left: 50px;
}

.artistpage_name {
  font-size: 30pt;
  /* text-decoration: overline; */
  color: #ff8c00;
}

.artistpage_bio {
  margin-top: 10px;
  font-size: 13pt;
}

.discography {
  color: white;
  background-color: rgb(35, 35, 35);
  height: 40px;
  font-size: 20pt;
  align-items: baseline;
  padding-left: 80px;
  padding-top: 7px;
}
